<?xml version="1.0" ?>
<model>
  <name>rosbot</name>
  <version>1.0</version>
  <sdf version="1.6">rosbot.sdf</sdf>
  <author>
    <name>teo</name>
    <email>mateobonillita2102@gmail.com</email>
  </author>
  <description>
    Modelo de robot móvil Rosbot para la simulación en Gazebo.
  </description>
</model>

